include base.jade
.container
  .row
    .col-md-2.col-sm-4.col-xs-10
      .panel-heading Bienvenue #{sess}
      .panel-body
        tr
          form(#form action="/addbook" method="post")
              input(type="text" placeholder="nom du film" name="movietitle" id="movietitle")
              input(type="hidden" name="etat" value="0")
              input(type="hidden" name="user" value="#{sess}")
              button(type="submit") Ajouter
        br
        a(href="/logout") Déconnexion
  .row
    .panel.panel-default
    .col-md-12.col-sm-12.col-xs-13
      h4.panel-heading A voir :
